[submodule "telegram"]
	path = modules/telegram
	url = git://github.com/fabianonline/telegram.sh
[submodule "clang"]
	path = modules/clang
	url = git://github.com/nathanchance/tc-build
	branch = personal
[submodule "libufdt"]
	path = modules/libufdt
	url = https://android.googlesource.com/platform/system/libufdt
