[submodule "telegram"]
	path = modules/telegram
	url = git://github.com/fabianonline/telegram.sh
[submodule "libufdt"]
	path = modules/libufdt
	url = https://android.googlesource.com/platform/system/libufdt
